* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #003049;
}

form {
    width: 50%;
    height: 50vh;
    background-color: rgb(255, 255, 255, 0.4);
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 2em;
    flex-direction: column;
    gap: 1em;
    backdrop-filter: blur(10px);
}

form > label, input {
    width: 30%;
    font-size: 1.5em;
}